@charset "windows-1251";
/* CSS Document */
* {
	margin:0;
	padding:0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
}
/*------------------------Юзер панель-------------------------*/
a:hover,.links1:hover {
	text-decoration:none;
}
a {
	color:#0CF;
	font-size:12px;
	font-weight:700;
}
.links1 {
	color:#FAFAFA;
	font-weight:700;
}
input {
	padding-left:5px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border:1px inset #FAFAFA;
	background-color:#FAFAFA;
}
.pole1 {
	width:95px;
	height:16px;
}
.pole2 {
	width:155px;
	height:25px;
	background-color:#FAFAFA;
	background:url(../images/icons/search.png) no-repeat;
	background-color:#FAFAFA;
	padding-left:25px;
}

.sb {
	padding:5px 10px 5px 10px;
	height:15;
}
.but {
	background-image:url(../images/bg-but.png);
	border:1px solid #333;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	color:#FAFAFA;
	font-weight:700;
	font-size:12px;
	cursor:pointer;
	text-shadow:0 1px 0 #000;
}
.but:hover {
	background-image:url(../images/bg-but-a.png);
}
#usr-pan {
	width:100%;
	min-width:600px;
	height:40px;
	background:linear-gradient(#424242,#343434);
	background:-webkit-linear-gradient(#424242,#343434);
	background:-moz-linear-gradient(#424242,#343434);
	background:-ms-linear-gradient(#424242,#343434);
	background:-o-linear-gradient(#424242,#343434);
	color:#FAFAFA;
	font-weight:700;
	font-size:12px;
	top:0;
	position:fixed;
	z-index:9999;
	box-shadow:0 0 10px #424242;
	-webkit-box-shadow:0 0 10px #424242;
	-moz-box-shadow:0 0 10px #424242;
}
#forms1 {
	margin-right:10px;
}
/*------------------------Хидер-------------------------*/
header {
	width:100%;
	min-width:1000px;
	height:70px;
	background:linear-gradient(#DDD,#FAFAFA);
	background:-webkit-linear-gradient(#DDD,#FAFAFA);
	background:-moz-linear-gradient(#DDD,#FAFAFA);
	background:-ms-linear-gradient(#DDD,#FAFAFA);
	background:-o-linear-gradient(#DDD,#FAFAFA);
	margin-top:40px;
	padding-top:30px;
	color:#424242;
	font-weight:700;
	font-size:12px;
	box-shadow:0 0 10px #424242;
	-webkit-box-shadow:0 0 10px #424242;
	-moz-box-shadow:0 0 10px #424242;
	position:relative;
}
#logos {
	width:480px;
	height:50px;
	float:left;
	padding-left:20px;
	background:url(../images/logo.png) no-repeat center;
}
/*-----------------------------------Контент------------*/
#container {
	width:100%;
	min-width:380px;
	min-height:600px;
	box-shadow:0 0 10px #424242;
	-webkit-box-shadow:0 0 10px #424242;
	-moz-box-shadow:0 0 10px #424242;
	overflow:auto;
	position:relative;
	z-index:999;
	background:linear-gradient(#EAEAEA,#FFF);
	background:-webkit-linear-gradient(#EAEAEA,#FFF);
	background:-moz-linear-gradient(#EAEAEA,#FFF);
	background:-ms-linear-gradient(#EAEAEA,#FFF);
	background:-o-linear-gradient(#EAEAEA,#FFF);
}
#wrapper {
	max-width:100%;
	min-width:300px;
	width:100%;
	margin:auto;
}
.conBlock {
	width:32%;
	
	min-width:300px;
	min-height:800px;
	overflow:auto;
	margin:20px 0 20px 13px;
	float:left;
	background:linear-gradient(#FFF,#EAEAEA);
	background:-webkit-linear-gradient(#FFF,#EAEAEA);
	background:-moz-linear-gradient(#FFF,#EAEAEA);
	background:-ms-linear-gradient(#FFF,#EAEAEA);
	background:-o-linear-gradient(#FFF,#EAEAEA);
	box-shadow:0 0 10px #CCC;
	-webkit-box-shadow:0 0 10px #CCC;
	-moz-box-shadow:0 0 10px #CCC;
	border:1px solid #EEE;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
/*Блок для начинающих*/
#starts h1 {
	text-align:left;
	color:#C00;
	font-weight:900;
	padding-left:5px;
}
/*--------------------------------------Футер-----------*/
footer {
	width:100%;
	max-width:100%;
	min-width:1000px;
	height:60px;
	background-image:url(../images/bg-footer.png);
	color:#FAFAFA;
	padding-top:20px;
}
footer nav {
	width:365px;
	height:20px;
	margin:auto;
	padding-left:20px;
	font-size:14px;
	font-weight:700;
}
footer .links1 {
	font-size:14px !important;
}