<?xml version="1.0" encoding='UTF-8'?>
<config>
	<routemap>
		<route path="*">
			<command>DefaultCommand</command>
			<view>DefaultView</view>
		</route>

		<route path="/users/{uid}">
			<param_pattern param="uid">[0-9]{1,32}</param_pattern>
			<command>show_user_profile</command>
			<view>user_profile</view>
		</route>

		<route path="/users">
			<command>show_user_list</command>
			<view>user_list</view>
		</route>

		<route path="/auth_form">
			<command>show_auth_form</command>
			<view>auth_form</view>
		</route>

		<route path="/authorize">
			<command>user_authorize</command>
		</route>
	</routemap>
</config>